@import url(http://fonts.googleapis.com/css?family=Redressed);
@import url(http://fonts.googleapis.com/css?family=Arbutus);

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

  h1{
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.list-group-item.msgproc-item{
  background-color: #e0e9d6;
  cursor:pointer;
}

.msgproc-subheading{
  font-family:'Redressed';
}
.msgproc-heading{
  font-family:'Arbutus';
  font-size:2em;
}