<!-- Add your site or application content here -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">

        <a class="navbar-brand" href="#">
            <span class="msgproc-heading">Acme E-Mail</span>
            <!--<span class="msgproc-subheading">Message Processor</span>-->
        </a>
    </div>

    <div ng-show="loggeduser">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/process">Messages</a></li>
            <li><a href="#/processed">History</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{loggeduser.email}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="signout()">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>