<div>
    <div style="padding-top: 120px;"></div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">To-do List ({{unprocessedMsg.length}})</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item"
                       ng-repeat="thing in unprocessedMsg"
                       display-item-list></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Approve </h3>
                </div>
                <div class="panel-body">
                    <div ng-hide="selected">Not selected</div>
                    <div ng-show="selected">
                        <div ng-show="selected.type == 'bd'">
                            bd
                        </div>
                        <div ng-show="selected.type == 'congrat'">
                            congrat
                        </div>
                        <!--{{selected}}-->
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>