<div>
    <div style="padding-top: 120px;"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Unprocessed Message ({{unprocessedMsg.length}})</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="thing in unprocessedMsg" display-item-list item='thing'></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Approve </h3>
                </div>
                <div class="panel-body">not selected</div>
            </div>
        </div>
    </div>





</div>