<div>
        <div class="hero-unit">
            <h1>Acme E-mail</h1>
            <form class="form-horizontal" ng-submit="signin()" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="email" tabindex="1" class="form-control" ng-model="email" placeholder="enter any e-mail"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" tabindex="2" class="form-control" ng-model="password" placeholder="enter any password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4">
                        <button type="submit" tabindex="3" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

</div>